/* main stuff */
:root {
    --blau-stark: #0d185f;
    --blau-schwach: #2835879f;
    --backgroundi: white;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: var(--blau-stark);
    background-color: var(--backgroundi);
}

a, p, li, caption {
    color: var(--blau-stark);
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    text-align: left;
    padding: 10px;
    margin: 0;
    list-style-type: "☆ ";  
}

h3 {
    padding: 5px 0 5px 0;
}

@media screen and (max-width: 700px) {
    nav a {
        float: none;
        width: 100%;
    }
    nav {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

/* scrollbar */
::-webkit-scrollbar {
   width: 12px;
   height: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--backgroundi);
}
 
::-webkit-scrollbar-thumb {
  background-color: var(--blau-stark);
  border-radius: 10px;
}



/* hover */
.hoveri {
    transition: .3s;
}

.hoveri:hover, .dropdown > button:focus {
    color:white;
    background-color: var(--blau-schwach);
    border-radius: 8px;
}



/* darkmode */
.dark-mode {
    --blau-stark: cadetblue;
    --blau-schwach: rgba(95, 158, 160, 0.55);
    --backgroundi: black;
    --back2: rgba(155, 212, 214, 0.55);
}



/* Header */
header {
    margin: 10px; 
    padding: 10px;
    border: 2px solid var(--blau-stark);
    border-radius: 10px;
    overflow-y: hidden;
}



/* Titel */
.titel {
    font-size: 25px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
}



/* Container: Navigation, Boxen, Blätter, Intro */
.container {
    width: 80%;
    margin: auto;
    overflow-x: hidden;
}



/* Navigation */
nav {
    margin: auto;
    display: flex;
    float: right;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.nav-item {
    background: none;
    display: block;
    text-align: center;
    padding: 10px;
    transition: .3s;
    z-index: 1;
    position: relative;
}

.nav-item:before {
    content:"";
    position: absolute;
    bottom: -6px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: var(--blau-stark);
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}

.nav-item:hover:before, .nav-item.current:before {
    opacity: 1;
    bottom: 0;
}

.nav-item:hover {
    border-radius: 8px 8px 0 0;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 3px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}



/* drei Boxen */
#boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
    word-wrap: break-word;
    grid-gap: 2em;
}

#boxes .box_1 {
    text-align: center;
    word-wrap: break-word;
}

.box_1 ul {
    border: 2px solid var(--blau-stark);
    border-radius: 10px;
    padding: 24px;
}



/* button */
button {
    float: left;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    background: none;
    color: var(--blau-stark);
    border: none;
    font-size: 15px;
    transition: .3s;
}



/* table */
table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    border: 2px solid var(--blau-stark);
    border-radius: 10px;
    background: none;
}

#zeitplan {
    overflow-x: scroll;
}

td {
    text-align: center;
    padding: 5px;
}



/* Pfeil */
.pfeili {
    position: fixed;
    bottom: 70%;
    right: 10px;
    border: 2px solid var(--blau-stark);
    background-color: var(--backgroundi);
    border-radius: 10px;
    padding: 5px;
}



/* Dropdown: Wochenblätter */
.dropdown {
    display: flex;
    margin: auto;
    padding: .5rem;
    gap: 1rem;
    width: 80%;
    text-align: center;
    position: relative;
}

.dropdown ul {
    list-style-type: none;
}

.dropdown-menu li {
    display: inline-block;
}

.dropdown button {
    border: 2px solid var(--blau-stark);
    border-radius: 10px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    position: absolute;
    top: 100%;
    background-color: var(--backgroundi);
    padding: .75rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 var(--blau-schwach);
    pointer-events: none;
}

/*.dropdown > .hoveri:focus + .dropdown-menu, .dropdown-menu a:hover {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}*/